<!doctype html>
<html>
  <head>
    <title>File Output</title>
    <!--link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/-->
  </head>
  <body class="container">
    <h1>File Output</h1>

    <form role="form" class="form" onsubmit="return false;">
      <img src="{{url_for('static', filename='output.jpg')}}" alt="Output Image" style="width:250px;height:250px;"/>
    </form>

  </body>
</html>
